In [1]:
import pandas as pd
import numpy as np

In [2]:
history_df = pd.read_csv("C:\\Users\\Folajuwon\\Desktop\\coding stuff\\Projects\\PL predictor\\premier-league.csv")

In [3]:
import chardet

with open("C:\\Users\\Folajuwon\\Desktop\\coding stuff\\Projects\\PL predictor\\formated_transfer_data.csv", "rb") as f:
    result = chardet.detect(f.read(10000))
print(result)

{'encoding': 'Windows-1252', 'confidence': 0.7274135312974523, 'language': ''}

In [4]:
df_2025 = pd.read_csv("C:\\Users\\Folajuwon\\Desktop\\coding stuff\\Projects\\PL predictor\\formated_transfer_data.csv", encoding=result['encoding'])

In [6]:
history_df.head()

,club_name,player_name,age,position,club_involved_name,fee,transfer_movement,transfer_period,fee_cleaned,league_name,year,season
0,Middlesbrough FC,Tommy Wright,26.0,Left Winger,Leicester,€910Th.,in,Summer,0.91,Premier League,1992,1992/1993
1,Middlesbrough FC,Jonathan Gittens,28.0,defence,Southampton,€250Th.,in,Summer,0.25,Premier League,1992,1992/1993
2,Middlesbrough FC,Chris Morris,28.0,Right-Back,Celtic,?,in,Summer,NaN,Premier League,1992,1992/1993
3,Middlesbrough FC,Ben Roberts,17.0,Goalkeeper,Boro U18,-,in,Summer,NaN,Premier League,1992,1992/1993
4,Middlesbrough FC,Andy Todd,17.0,Centre-Back,Boro U18,-,in,Summer,NaN,Premier League,1992,1992/1993

In [7]:
history_df["fee_cleaned"] = pd.to_numeric(history_df["fee_cleaned"])

In [8]:
players_in = history_df.groupby(['club_name', 'season']).apply(
    lambda x: (x['transfer_movement'].str.lower() == 'in').sum()
).reset_index(name='players_in')

players_out = history_df.groupby(['club_name', 'season']).apply(
    lambda x: (x['transfer_movement'].str.lower() == 'out').sum()
).reset_index(name='players_out')

C:\Users\Folajuwon\AppData\Local\Temp\ipykernel_34764\3280675013.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  players_in = history_df.groupby(['club_name', 'season']).apply(
C:\Users\Folajuwon\AppData\Local\Temp\ipykernel_34764\3280675013.py:5: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  players_out = history_df.groupby(['club_name', 'season']).apply(

In [9]:
total_spent = history_df.groupby(['club_name', 'season']).apply(
    lambda x: x.loc[x['transfer_movement'].str.lower() == 'in', 'fee_cleaned'].sum(min_count=1)
).reset_index(name='total_spent')

C:\Users\Folajuwon\AppData\Local\Temp\ipykernel_34764\555280984.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  total_spent = history_df.groupby(['club_name', 'season']).apply(

In [10]:
total_income = history_df.groupby(['club_name', 'season']).apply(
    lambda x: x.loc[x['transfer_movement'].str.lower() == 'out', 'fee_cleaned'].sum(min_count=1)
).reset_index(name='total_income')

C:\Users\Folajuwon\AppData\Local\Temp\ipykernel_34764\1496387475.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  total_income = history_df.groupby(['club_name', 'season']).apply(

In [11]:
net_spend = history_df.groupby(['club_name', 'season']).apply(
    lambda x: x.loc[x['transfer_movement'].str.lower() == 'in', 'fee_cleaned'].sum(min_count=1)
             - x.loc[x['transfer_movement'].str.lower() == 'out', 'fee_cleaned'].sum(min_count=1)
).reset_index(name='net_spend')

C:\Users\Folajuwon\AppData\Local\Temp\ipykernel_34764\458961927.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  net_spend = history_df.groupby(['club_name', 'season']).apply(

In [12]:
avg_age_in = history_df.groupby(['club_name', 'season']).apply(
    lambda x: x.loc[x['transfer_movement'].str.lower() == 'in', 'age'].mean()
).reset_index(name='avg_age_in')

C:\Users\Folajuwon\AppData\Local\Temp\ipykernel_34764\2363495729.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  avg_age_in = history_df.groupby(['club_name', 'season']).apply(

In [13]:
avg_age_out = history_df.groupby(['club_name', 'season']).apply(
    lambda x: x.loc[x['transfer_movement'].str.lower() == 'out', 'age'].mean()
).reset_index(name='avg_age_out')

C:\Users\Folajuwon\AppData\Local\Temp\ipykernel_34764\1420527778.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  avg_age_out = history_df.groupby(['club_name', 'season']).apply(

In [14]:
loan_in = history_df.groupby(['club_name', 'season']).apply(
    lambda x: x.loc[
        (x['transfer_movement'].str.lower() == 'in') &
        (x['fee'].str.contains('loan', case=False, na=False))
    ].shape[0]
).reset_index(name='loan_in')

C:\Users\Folajuwon\AppData\Local\Temp\ipykernel_34764\2981851752.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  loan_in = history_df.groupby(['club_name', 'season']).apply(

In [15]:
loan_out = history_df.groupby(['club_name', 'season']).apply(
    lambda x: x.loc[
        (x['transfer_movement'].str.lower() == 'out') &
        (x['fee'].str.contains('loan', case=False, na=False))
    ].shape[0]
).reset_index(name='loan_out')

C:\Users\Folajuwon\AppData\Local\Temp\ipykernel_34764\3194783367.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  loan_out = history_df.groupby(['club_name', 'season']).apply(

In [16]:
agg_df = players_in \
    .merge(players_out, on=['club_name', 'season']) \
    .merge(total_spent, on=['club_name', 'season']) \
    .merge(total_income, on=['club_name', 'season']) \
    .merge(net_spend, on=['club_name', 'season']) \
    .merge(avg_age_in, on=['club_name', 'season']) \
    .merge(avg_age_out, on=['club_name', 'season']) \
    .merge(loan_in, on=['club_name', 'season']) \
    .merge(loan_out, on=['club_name', 'season'])

# Optional: Fill NaNs for numeric columns
agg_df[['total_spent', 'total_income', 'net_spend',
        'players_in', 'players_out', 'loan_in', 'loan_out']] = \
    agg_df[['total_spent', 'total_income', 'net_spend',
            'players_in', 'players_out', 'loan_in', 'loan_out']].fillna(0)

In [17]:
history_df = agg_df

In [18]:
history_df.head()

,club_name,season,players_in,players_out,total_spent,total_income,net_spend,avg_age_in,avg_age_out,loan_in,loan_out
0,AFC Bournemouth,2015/2016,36,33,55.11,0.650,54.460,23.916667,24.757576,22,21
1,AFC Bournemouth,2016/2017,20,29,40.69,23.690,17.000,22.550000,24.724138,13,15
2,AFC Bournemouth,2017/2018,15,14,34.30,0.000,34.300,25.466667,25.071429,10,11
3,AFC Bournemouth,2018/2019,14,16,89.10,20.200,68.900,24.571429,27.000000,9,9
4,AFC Bournemouth,2019/2020,13,13,54.91,34.625,20.285,23.846154,25.307692,7,8

In [22]:
df_2025.head()

,Unnamed: 0,Name,transfer_movement,club_name,age,Position,Market_Value,fee
0,0,Martín Zubimendi,1.0,Arsenal FC,26.0,Defensive Midfield,"€ 60,000,000","€ 70,000,000"
1,1,Viktor Gyökeres,1.0,Arsenal FC,27.0,Centre-Forward,"€ 75,000,000","€ 65,800,000"
2,2,Noni Madueke,1.0,Arsenal FC,23.0,Right Winger,"€ 40,000,000","€ 56,000,000"
3,3,Cristhian Mosquera,1.0,Arsenal FC,21.0,Centre-Back,"€ 30,000,000","€ 15,000,000"
4,4,Christian Nørgaard,1.0,Arsenal FC,31.0,Defensive Midfield,"€ 11,000,000","€ 11,600,000"

In [21]:
df_2025 = df_2025.rename(columns={
    "Club": "club_name",
    "Age": "age",
    "Fee": "fee",
    "Joined_or_stayed": "transfer_movement"
})

In [23]:
def clean_fee(value):
    if isinstance(value, str):
        value = value.replace("€", "").replace(",", "").strip()
        if "Th" in value:  # thousands
            return float(value.replace("Th", "")) / 1000
        elif "m" in value.lower():  # millions with 'm' notation
            return float(value.lower().replace("m", ""))
        else:  # already in millions (like 70,000,000)
            return float(value) / 1_000_000
    return None

df_2025["fee_cleaned"] = df_2025["fee"].apply(clean_fee)

In [24]:
df_2025["transfer_movement"] = df_2025["transfer_movement"].map({1.0: "in", 0.0: "out"})

In [25]:
df_2025["season"] = "2025/2026"

In [26]:
df_2025 = df_2025.groupby(["club_name", "season"]).agg(
    players_in=("transfer_movement", lambda x: (x == "in").sum()),
    players_out=("transfer_movement", lambda x: (x == "out").sum()),
    total_spent=("fee_cleaned", lambda x: x[df_2025.loc[x.index, "transfer_movement"] == "in"].sum()),
    total_income=("fee_cleaned", lambda x: x[df_2025.loc[x.index, "transfer_movement"] == "out"].sum()),
    avg_age_in=("age", lambda x: x[df_2025.loc[x.index, "transfer_movement"] == "in"].mean()),
    avg_age_out=("age", lambda x: x[df_2025.loc[x.index, "transfer_movement"] == "out"].mean())
).reset_index()

# Net spend
df_2025["net_spend"] = df_2025["total_spent"] - df_2025["total_income"]

# Loan columns (not in your 2025 data, so set to 0)
df_2025["loan_in"] = 0
df_2025["loan_out"] = 0

In [27]:
final_df = pd.concat([history_df, df_2025], ignore_index=True)

In [29]:
final_df.to_csv("C:\\Users\\Folajuwon\\Desktop\\coding stuff\\Projects\\PL predictor\\final_transfers.csv", index=False)